body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('CBCB.jfif');
    background-size: cover;
    background-position: center;
}

.container {
    width: 70%;
    display: flex;
    background-color: rgba(174, 214, 241, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(174, 214, 241, 0.5);
}

.welcome-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #17202a;
    border-radius: 10px 0 0 10px;
}

.welcome-section .user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(253, 254, 254, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #03a9f4;
}

.welcome-section h1 {
    font-size: 2em;
    margin: 10px 0;
}

.form-section {
    flex: 1;
    padding: 40px;
    background-color: rgba(174, 214, 241, 0.8);
    color: #17202a;
    border-radius: 0 10px 10px 0;
}

.form-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.input-group-text {
    background-color: #ffffff;
}

.input-group .form-control {
    padding-left: 40px;
}

.input-group-text i {
    color: black;
}

.form-label {
    font-size: 1.1em;
    font-weight: bold;
    color: #17202a;
}
